{
    "openapi": "3.0.1",
    "info": {
        "title": "API - Imoideal",
        "description": "Bem-vindo à documentação da nossa API!<br>Aqui você encontrará informações completas sobre todos os endpoints disponíveis, bem como seus parâmetros e respostas.<br>Use esta documentação para interagir com a API e criar aplicativos para atender às suas necessidades.<br>Nós nos esforçamos para mantê-la atualizada e precisa, e estamos disponíveis para ajudá-lo em qualquer dúvida ou problema.",
        "contact": {
            "email": "suporte@imoideal.com"
        },
        "version": "v1.0"
    },
    "servers": [
        {
            "url": "https://api.imoideal.com/prd",
            "description": "Produtivo"
        },
        {
            "url": "https://api.imoideal.com/sbx",
            "description": "SandBox"
        }
    ],
    "security": [
        {
            "api_key": []
        }
    ],
    "tags": [
        {
            "name": "Login",
            "description": "Gerenciar usuário no sistema"
        },
        {
            "name": "Perfil",
            "description": "Manipule todas as informações do usuário"
        },
        {
            "name": "Anuncio",
            "description": "Gerencie os anúncios"
        }
    ],
    "paths": {
        "/create-login/": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Recupere dados do Login com Telefone",
                "operationId": "get_cliente",
                "parameters": [
                    {
                        "name": "telefone",
                        "in": "path",
                        "description": "Telefone do Login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Reason of error"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/valid-login/": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Editar Status do Login",
                "description": "<b>0 - </b>Novo<br><b>1 - </b>Processo BOT<br><b>2 - </b>Enviado<br><b>3 - </b>Agendado BOT<br><b>4 - </b>Agendado NET<br><b>5 - </b>Aguardando Confirmação<br><b>6 - </b>Agendamento Aceito<br><b>7 - </b>Finalizado<br><b>8 - </b>Concluído<br><b>9 - </b>Cancelado<br><b>10 - </b>Pendência 72h<br><b>11 - </b>Antifraude<br><b>12 - </b>Sem Viabilidade<br><b>13 - </b>Agendamento Recusado<br><b>14 - </b>Quebra de Agenda<br><b>15 - </b>Duplicidade Proposta<br><b>16 - </b>Sem Interação<br><b>17 - </b>Fora de Fluxo<br><b>18 - </b>Agendamento Incompleto",
                "operationId": "edit_status",
                "parameters": [
                    {
                        "name": "cliente",
                        "in": "path",
                        "description": "Código do Login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "description": "Código de Status",
                                        "type": "integer",
                                        "enum": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
                                    },
                                    "origem": {
                                        "description": "Sistema Origem",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Retorno"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Reason of error"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Login": {
                "type": "object",
                "properties": {
                    "codigo": {
                        "title": "Código do Login",
                        "type": "string",
                        "readOnly": true
                    },
                    "cnpj": {
                        "title": "Número CNPJ",
                        "type": "string",
                        "readOnly": true
                    },
                    "razao": {
                        "title": "Razão Social",
                        "type": "string",
                        "readOnly": true
                    },
                    "endereco": {
                        "title": "Endereço",
                        "type": "string",
                        "readOnly": true
                    },
                    "data": {
                        "title": "Data de agendamento",
                        "type": "string",
                        "readOnly": true
                    },
                    "hora": {
                        "title": "Hora do agendamento",
                        "type": "string",
                        "readOnly": true
                    }
                }
            },
            "Retorno": {
                "type": "object",
                "properties": {
                    "status": {
                        "title": "Status do Retorno",
                        "type": "boolean",
                        "readOnly": true,
                        "default": false
                    },
                    "texto": {
                        "title": "Texto de Retorno",
                        "type": "string",
                        "readOnly": true
                    }
                }
            }
        },
        "securitySchemes": {
            "api_key": {
                "type": "apiKey",
                "name": "API-KEY",
                "in": "header"
            }
        }
    }
}