{
    "openapi": "3.0.1",
    "info": {
        "title": "API - Imoideal",
        "description": "Bem-vindo à documentação da nossa API!<br>Aqui você encontrará informações completas sobre todos os endpoints disponíveis, bem como seus parâmetros e respostas.<br>Use esta documentação para interagir com a API.<br>Nós nos esforçamos para mantê-la atualizada e precisa.",
        "contact": {
            "name": "Suporte Imoideal",
            "email": "suporte@imoideal.com"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.imoideal.com/source/prd",
            "description": "Produtivo"
        },
        {
            "url": "https://api.imoideal.com/source/sbx",
            "description": "SandBox"
        }
    ],
    "security": [
        {
            "api_key": []
        }
    ],
    "tags": [
        {
            "name": "Login",
            "description": "Gerenciar usuário no sistema"
        },
        {
            "name": "Usuário",
            "description": "Manipule todas as informações do usuário"
        },
        {
            "name": "Anúncio",
            "description": "Gerencie os anúncios"
        },
        {
            "name": "Pesquisa",
            "description": "Gerador de resultado de pesquisa"
        }
    ],
    "paths": {
        "/create-login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Criar usuário no sistema",
                "description": "Ao fornecer as informações básicas o sistema criará um usuário no sistema, retornando todos os dados do novo perfil",
                "operationId": "createlogin",
                "requestBody": {
                    "description": "Criar usuario no sistema",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/create-login"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/valid-login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Validar usuário no sistema",
                "description": "Ao fornecer as informações como e-mail e senha o sistema verifica existe um usuário e retorna as informações caso exista",
                "operationId": "validlogin",
                "requestBody": {
                    "description": "Validar usuario no sistema",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/valid-login"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/refresh-login/{UserId}": {
            "get": {
                "tags": [
                    "Login"
                ],
                "summary": "Validar usuário no sistema",
                "description": "Com o código de usuário, recupere todas informações no sistema",
                "operationId": "refreshlogin",
                "parameters": [
                    {
                        "name": "UserId",
                        "in": "path",
                        "description": "Código de usuário",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-user/{UserId}": {
            "get": {
                "tags": [
                    "Usuário"
                ],
                "summary": "Recuperar informações do Usuário",
                "description": "Com o código de usuário, recupere todas informações no sistema",
                "operationId": "getuser",
                "parameters": [
                    {
                        "name": "UserId",
                        "in": "path",
                        "description": "Código de usuário",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-posts/{UserId}": {
            "get": {
                "tags": [
                    "Usuário",
                    "Anúncio"
                ],
                "summary": "Recuperar todos anúncios do Usuário",
                "description": "Com o código de usuário, recupere todos anúncios no sistema",
                "operationId": "getposts",
                "parameters": [
                    {
                        "name": "UserId",
                        "in": "path",
                        "description": "Código de usuário",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-likes/{UserId}": {
            "get": {
                "tags": [
                    "Usuário"
                ],
                "summary": "Recuperar todos anúncios favoritos do Usuário",
                "description": "Com o código de usuário, recupere todos anúncios favoritos no sistema",
                "operationId": "getlikes",
                "parameters": [
                    {
                        "name": "UserId",
                        "in": "path",
                        "description": "Código de usuário",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/new-post/{UserId}": {
            "get": {
                "tags": [
                    "Anúncio"
                ],
                "summary": "Adicionar novo anúncio",
                "description": "Com o código de usuário, insira um novo anúncio no sistema",
                "operationId": "newpost",
                "parameters": [
                    {
                        "name": "UserId",
                        "in": "path",
                        "description": "Código de usuário",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/del-post/{PostId}": {
            "delete": {
                "tags": [
                    "Anúncio"
                ],
                "summary": "Remover anúncio",
                "description": "Com o código do anúncio faça a exclusão do post",
                "operationId": "delpost",
                "parameters": [
                    {
                        "name": "PostId",
                        "in": "path",
                        "description": "Código do anúncio",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/like-post": {
            "post": {
                "tags": [
                    "Anúncio"
                ],
                "summary": "Favoritar anúncio",
                "description": "Com código de usuário e de anúncio, crie um favorito.",
                "operationId": "likepost",
                "requestBody": {
                    "description": "Favoritar anúncio",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/create-login"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/list-posts": {
            "post": {
                "tags": [
                    "Pesquisa"
                ],
                "summary": "Lista de anúncio",
                "description": "Faça uma listagem dos anúncios.",
                "operationId": "listpost",
                "requestBody": {
                    "description": "Favoritar anúncio",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/create-login"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/list-highlights": {
            "post": {
                "tags": [
                    "Pesquisa"
                ],
                "summary": "Lista de anúncio destaques por estado",
                "description": "Faça uma listagem dos anúncios destacadas para página inicial.",
                "operationId": "highlightspost",
                "requestBody": {
                    "description": "Favoritar anúncio",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/create-login"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/return-login"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error_message": {
                                            "type": "string",
                                            "description": "Motivo do erro"
                                        }
                                    }
                                },
                                "example": {
                                    "error_message": "Mensagem de erro"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "create-login": {
                "required": [
                    "email",
                    "nome",
                    "telefone",
                    "pass"
                ],
                "type": "object",
                "properties": {
                    "email": {
                        "title": "E-mail",
                        "type": "string",
                        "example": "usuario@email.com"
                    },
                    "nome": {
                        "title": "Nome",
                        "type": "string",
                        "example": "Nome do User"
                    },
                    "telefone": {
                        "title": "Telefone",
                        "type": "string",
                        "example": "0000000000"
                    },
                    "pass": {
                        "title": "Senha",
                        "type": "string",
                        "example": "123@321"
                    }
                }
            },
            "valid-login": {
                "required": [
                    "email",
                    "pass"
                ],
                "type": "object",
                "properties": {
                    "email": {
                        "title": "E-mail",
                        "type": "string",
                        "example": "usuario@email.com"
                    },
                    "pass": {
                        "title": "Senha",
                        "type": "string",
                        "example": "123@321"
                    }
                }
            },
            "return-login": {
                "type": "object",
                "properties": {
                    "userid": {
                        "title": "Código de usuário",
                        "type": "number",
                        "readOnly": true
                    },
                    "urlimg": {
                        "title": "URL Imagem Perfil",
                        "type": "string",
                        "readOnly": true
                    },
                    "email": {
                        "title": "E-mail",
                        "type": "string",
                        "readOnly": true
                    },
                    "nome": {
                        "title": "Nome",
                        "type": "string",
                        "readOnly": true
                    },
                    "telefone": {
                        "title": "Telefone",
                        "type": "string",
                        "readOnly": true
                    },
                    "plan": {
                        "title": "Plano",
                        "type": "number",
                        "readOnly": true
                    },
                    "status": {
                        "title": "Status e-mail",
                        "type": "number",
                        "readOnly": true
                    },
                    "checkwpp": {
                        "title": "WhatsApp verificad",
                        "type": "number",
                        "readOnly": true
                    },
                    "resetpass": {
                        "title": "Reset de senha",
                        "type": "number",
                        "readOnly": true
                    },
                    "datacriac": {
                        "title": "Data criação",
                        "type": "string",
                        "readOnly": true
                    },
                    "dataedit": {
                        "title": "Data da última alteração",
                        "type": "string",
                        "readOnly": true
                    }
                }
            }
        },
        "securitySchemes": {
            "api_key": {
                "type": "apiKey",
                "name": "API-KEY",
                "in": "header"
            }
        }
    }
}